<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="no.nav.bidrag.commons.logging.BidragDebugLogFilter"/>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="secureLogger" level="OFF" additivity="false" />
  <!-- WireMock logger også forventede 404-oppslag som ERROR. Slå på med -Dwiremock.test.log.level=ERROR ved stub-feilsøking. -->
  <logger name="WireMock.wiremock" level="${wiremock.test.log.level:-OFF}" />
</configuration>