<settings
        xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
        <pluginGroup>no.nav.maven.plugins</pluginGroup>
        <pluginGroup>no.stelvio.maven.plugins</pluginGroup>
    </pluginGroups>
    <proxies>
    </proxies>
    <servers>
        <server>
            <id>repo.adeo.no:5443</id>
            <username></username>
            <password></password>
        </server>
        <server>
            <id>m2internal</id>
            <username></username>
            <password></password>
        </server>
        <server>
            <id>m2snapshot</id>
            <username></username>
            <password></password>
        </server>
        <server>
            <id>github</id>
            <username></username>
            <password></password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>Nexus NAV Repository Group</id>
            <mirrorOf
            >external:*,!public-snapshots,!internal-mirror-github-navikt,!nav-github-mirror</mirrorOf>
            <url>https://repo.adeo.no/repository/maven-public</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>public-snapshots</id>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <url>https://repo.adeo.no/repository/maven-public-snapshots</url>
                </repository>
                <repository>
                    <id>internal-mirror-github-navikt</id>
                    <url
                    >https://repo.adeo.no/repository/github-package-registry-navikt/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>public-snapshots</id>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <url>https://repo.adeo.no/repository/maven-snapshots</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
